html,
body {
    width: auto;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

header {
    padding: 0px;
}

svg {
    height: 4em;
    width: 4em;
    margin: 0.1em;
    margin-top: 0.5em;
}

.color {
    background-color: white;
    border: 0px;
    margin: 0px;
}

#myNavbar>ul {
    margin-left: 5%;
}

#myNavbar>ul>li>a {
    padding: 1.5em;
    padding-top: 2em;
    font-size: 14px;
    /* color: #c2c2a3;*/
}

#myNavbar>button {
    margin-top: 1%;
    margin-left: 1%;
    padding: 1em;
    float: right;
}

#myNavbar>ul>li>a:hover {
    color: black;
}

.actives {
    border: 0px;
    border-bottom: 2px solid blue;
}


/*--------------- End ofNavbar Section---------------------*/

#hero {
    /*background-color: #f9f9f9;*/
    padding: 0px;
    margin-top: 2%;
}

.hero-text>h2 {
    padding-top: 6em;
    padding-left: 3.5em;
    padding-right: 15em;
    padding-bottom: 0em;
    font-size: 35px;
}

.hero-text>p {
    padding-left: 5em;
    padding-right: 6em;
    font-size: 25px;
}

.hero-image {
    padding: 3em 20em;
}


/*-------------End of hero Section--------------*/

video {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}


/*--------------End of video section--------------*/

#assist {
    margin-top: 3%;
}

#sm-features {
    display: none;
}

#buynowmodal>.modal-content {
    z-index: 100;
}

.assit-text {
    padding-left: 12em;
    text-align: left;
    color: #d3d3d3;
    word-spacing: 2px;
}

.assit-text>h2 {
    line-height: 1.25em;
    font-size: 40px;
}

.assit-text>p {
    line-height: 1.25em;
    font-size: 25px;
    margin: 1em 0em;
}

.assit-text>p>i {
    padding-right: 1em;
}


/*------------------End of assist section-----------*/

#sm-experience {
    display: none;
}

#experience {
    margin-top: 3%;
    background-color: black;
    color: white;
    padding-top: 5em;
}

.text-experience-left {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 3em;
}

.text-experience-left>p {
    padding: 0em;
    margin-right: 0px;
}

.text-experience-left>h2>i,
.text-experience-right>h2>i {
    padding: 1em;
}

.text-experience-right {
    text-align: left;
    padding-left: 1em;
    padding-bottom: 3em;
}

.text-experience-right>p {
    padding-right: 2em;
}


/*------------End of Experience section-----------*/

#colors>h2 {
    font-size: 40px;
    margin-top: 5%;
}

.carousel-background {
    border-radius: 10px;
}

.carousel-background>div {
    margin: 0;
    padding: 0% 7.5%;
}


/*------------End of Carousel Section--------------*/

#switch>.row {
    margin-top: 5%;
}

.connect>h2 {
    margin-bottom: 1%;
}

.gif {
    width: 40%;
    height: 40%;
    margin-left: 35%;
    margin-top: 3%;
}

.icon-padding {
    padding-right: 1em;
}

.heading {
    color: gray;
}

#where_to_buy {
    margin: 0px;
    margin-top: 2%;
}

#where_to_buy>h2 {
    margin-top: 1%;
}

#where_to_buy>div>div {
    margin-top: 3%;
}


/*---------End of where to buy section---------*/

#more {
    background-color: black;
    color: white;
    padding: 5%;
    margin: 0;
}

.icon {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.icons {
    font-size: 20px;
    padding-left: 0.5em;
}


/*-----------End of Learn more section-------------*/

#stayintouch {
    margin: 0;
    padding-bottom: 3em;
}

#stayintouch>h2 {
    font-size: 25px;
}

#stayintouch>p {
    font-size: 15px;
    color: black;
}

#stayintouch>input {
    border: 0px;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid darkgray;
}


/*---------------End of Stay in touch section---------- */

footer {
    background-color: black;
    border-top: 1px solid red;
}

footer a {
    float: right;
}

footer>div>a {
    padding: 1em;
    display: inline-block;
}


/*-----------------End of footer section----------------*/

@media only screen and (max-width: 500px) {
    svg {
        height: 13vw;
        width: 14vw;
        padding: 0.25vw;
        margin-top: 2vw;
        margin-bottom: 0px;
        margin-right: 5vw;
    }
    #myNavbar>button {
        margin-left: 5%;
        margin-top: 5%;
    }
    /*End of navbar*/
    .hero-text>h2 {
        text-align: center;
        padding: 0em;
        font-size: 35px;
    }
    .hero-text>p {
        padding: 0em;
        text-align: center;
        font-size: 25px;
    }
    .hero-image {
        margin-top: 16%;
        padding: 0em 1em;
        padding-left: 7em;
        padding-bottom: 0px;
    }
    /*End of hero section*/
    .icon-padding {
        padding: 0;
        padding-right: 0.25em;
        padding-bottom: 3em;
    }
    #lg-features {
        display: none;
    }
    #sm-features {
        display: block;
        margin-top: 10px;
    }
    /*End of features section*/
    #experience {
        display: none;
    }
    #sm-experience {
        display: block;
        background-color: black;
        color: white;
        margin-top: 1em;
        padding-bottom: 3em 0em;
    }
    .icon {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    /*End od experience section*/
    #colors>h2 {
        margin-top: 1.5em;
    }
    .carousel-background>div {
        padding: 0px;
        padding-left: 0%;
    }
    /*End of carousel section*/
    .connect>h2 {
        margin: 2%;
        margin-top: 10%;
    }
    /*end ofswitch section*/
    .icons {
        font-size: 15px;
        padding: 0.5em;
    }
    .padding {
        padding: 0em 0.25em;
    }
    .padding>p {
        font-size: 20px;
    }
}